* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: dana;
  src: url(../font/Dana/woff2/DanaFaNum-DemiBold.woff2);
}
:root {
  --border-color: #c6c6c6;
  --border-second-color: rgba(209, 209, 209, 0.329);
  --bg-color: #2b3944;
  --bg-second-color: #ab052d;
  --text-color: #6b7280;
  --snow: #ffffff;
  --black: #000000;
  --color: #394854;
}
body {
  font-family: dana;
  overflow-x: hidden;
}
/* scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
/* icons */
.svgs {
  display: none;
}
.icons {
  width: 15px;
  height: 15px;
}
.naftagaz__items {
  display: flex;
  flex-direction: column;
  height: 688px;
  background-color: var(--color);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-block: 30px;
  padding-inline: 60px;
  position: fixed;
  transition: top 0.4s, background-color 0.4s, box-shadow 0.4s;
  top: 0;
  z-index: 1000;
}
header.has-background {
  background-color: var(--bg-color);
}
header.show-header {
  top: 0;
}
header.hide-header {
  top: -200px;
}
.header__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.naftagaz-img {
  width: 100px;
}
.hamburger-menu {
  display: none;
}
.header__detail-items {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}
.header__detail-items a {
  color: var(--snow);
}
.header__detail-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 8px;
  padding-inline: 15px;
  border: 1px solid var(--border-second-color);
  border-radius: 30px;
  color: var(--snow);
  cursor: pointer;
  transition: all 0.4s;
  font-size: 12px;
}
.header__detail-btnsActive {
  background-color: var(--bg-color);
  border: none;
}
.header__detail-hoverable:hover {
  border: 1px solid var(--snow);
}
.header__detail-icon {
  transition: 0.4s;
}
.header__detail-iconActive {
  transform: rotate(180deg);
}
.header__contact {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--snow);
  color: var(--black);
  width: 1250px;
  padding-inline: 60px;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 0.4s;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}
.header__contactActive {
  top: 60px;
  opacity: 1;
  visibility: visible;
}
.header__contact::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 60px;
  transform: rotate(45deg);
  background-color: var(--snow);
  width: 15px;
  height: 15px;
  display: block;
}
.header__contact a {
  color: var(--bg-second-color);
  font-size: 60px;
  transition: all 0.4s;
  border-bottom: 1px solid var(--border-color);
  height: 100px;
}
.header__contact a:hover {
  color: var(--bg-color);
}
.header__contact-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}
.dots {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--text-color);
  display: block;
}
.header__contact-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contact-btn {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: var(--bg-color);
  padding-inline: 30px;
  padding-block: 20px;
  color: var(--snow);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
}
.header__contact-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--bg-second-color);
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.header__contact-btn:hover::before {
  height: 100%;
}
.header__contact-icon {
  background-color: var(--snow);
  color: var(--black);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.header__contact-icon:hover {
  color: var(--snow);
}
.header__contact-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-color: var(--bg-color);
  color: black;
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.header__contact-icon:hover::after {
  transform: scale(1);
}
.header__lists {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__lists a {
  width: 172px;
  height: 40px;
  line-height: 40px;
  color: var(--snow);
  border-top: 1px solid var(--border-second-color);
  position: relative;
}
.header__lists a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--snow);
  transition: all 0.4s;
}
.header__lists a:hover::before {
  width: 100%;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu:hover .mega-menus {
  opacity: 1;
  visibility: visible;
}
.mega-menus {
  position: absolute;
  top: 0;
  padding-block: 60px;
  width: 180px;
  height: 270px;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
}
.mega-menu {
  width: 600px;
  height: 250px;
  background-color: var(--snow);
  display: flex;
  align-items: center;
  position: relative;
}
.mega-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid var(--snow);
  top: -11px;
  transform: rotate(30deg);
  right: -5px;
}
.mega-menu__items {
  color: black;
  border-left: 1px solid var(--border-color);
  padding: 30px;
  background-color: var(--snow);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mega-menu__items:last-child {
  border-left: none;
}
.mega-menu__icon {
  background-color: var(--bg-second-color);
  color: var(--snow);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding: 6px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mega-menu__icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-color: var(--bg-color);
  transition: all 0.3s;
  transform: scale(0);
  z-index: -1;
}
.mega-menu__items:hover .mega-menu__icon::before {
  transform: scale(1);
}
.mega-menu__item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 90%;
}
.mega-menu__img {
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.mega-menu__items:hover .mega-menu__img {
  opacity: 1;
  visibility: visible;
}
/* company_detail */
.company-detail {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  color: var(--snow);
  margin-top: 200px;
  padding: 0 60px;
  z-index: 1;
  overflow: hidden;
}
.company-detail h1 {
  font-size: 60px;
}
.company-detail_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-detail_item {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 50%;
}
.company-detail_title {
  width: 50%;
  background-color: var(--snow);
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--black);
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.company-detail_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.company-detail_text span:last-child {
  color: var(--border-color);
}
.company-detail_style {
  background-color: var(--bg-color);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--snow);
  padding: 3px;
  transform: translateX(-220px) translateY(-20px);
  position: relative;
  z-index: 1;
}
.company-detail_style::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-second-color);
  transform: scale(0);
  transition: 0.4s;
  z-index: -1;
}
.company-detail_item .company-detail_title:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  left: 0;
  background-image: url(../img/banner-1-xxl.jpg);
  background-position: center;
  background-size: cover;
  transition: 0.6s;
  z-index: -1;
}
.company-detail_item .company-detail_title:first-child:hover::before {
  height: 100%;
}
.company-detail_item .company-detail_title:last-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  left: 0;
  background-image: url(../img/banner-2-xxl.jpg);
  background-position: center;
  background-size: cover;
  transition: 0.6s;
  z-index: -1;
}
.company-detail_item .company-detail_title:last-child:hover::before {
  height: 100%;
}
.company-detail_title:hover .company-detail_style::before {
  transform: scale(1);
}
.company-detail_btn {
  background-color: var(--snow);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  cursor: pointer;
}
.company-detail_btn:hover {
  color: var(--snow);
}
.company-detail_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-color);
  transform: scale(0);
  transition: 0.4s;
  z-index: -1;
}
.company-detail_btn:hover::before {
  transform: scale(1);
}
.company-detail_man {
  width: 500px;
  position: absolute;
  bottom: -35px;
  left: 10px;
  transform-style: preserve-3d;
  will-change: transform;
  transform-origin: center center;
}
.company-detail_background {
  background-image: url("../img/intro-background-lg-min.jpg");
  background-size: cover;
  background-position: center;
  transform-origin: center center;
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
/* company_location */
.company-location {
  width: 100%;
  height: 1400px;
  background-color: var(--color);
  transform: translateY(34px);
  position: relative;
  overflow: hidden;
}
.company-location_map {
  position: absolute;
  top: 350px;
  right: 100px;
  z-index: 1;
}
.company-location_text-sm {
  opacity: 0;
  visibility: hidden;
}
.company-location_circle {
  position: absolute;
  top: 350px;
  right: 100px;
  z-index: 10;
  transform: scale(0) rotate(180deg);
  transition: all 0.4s;
  opacity: 0.8;
}
.company-location_title {
  color: var(--snow);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  width: 88%;
  position: absolute;
  top: 50px;
  left: 70px;
}
.company-location_detail {
  position: absolute;
  top: 100px;
  left: 70px;
  display: flex;
  width: 88%;
  gap: 180px;
}
.company-location_detail span {
  font-size: 100px;
  color: var(--bg-second-color);
}
.company-location_detail > p {
  width: 50%;
  color: var(--snow);
  padding: 50px 0;
}
.company-location_detail--text {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}
.company-location_detail--text p {
  color: var(--snow);
}
.company-location_text {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  position: absolute;
  top: 660px;
  left: 90px;
  color: var(--snow);
  opacity: 0;
  transition: all 0.4s;
}
.company-location_text p:last-child {
  color: var(--text-color);
}
.company-location_img {
  position: absolute;
  top: 550px;
  right: 100px;
  height: 0;
  transition: all 0.4s;
  object-fit: cover;
}
.company-location_btns {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--snow);
  position: absolute;
  top: 850px;
  left: 100px;
}
.company-location_btns--icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: var(--snow);
  color: var(--bg-color);
  position: relative;
  border-radius: 100%;
  z-index: 1;
}
.company-location_btns:hover .company-location_btns--icon {
  color: var(--snow);
}
.company-location_btns--icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-second-color);
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.4s;
  border-radius: 100%;
  z-index: -1;
}
.company-location_btns:hover .company-location_btns--icon::before {
  transform: scale(1);
}
/* sliders */
.slider_title {
  position: absolute;
  top: 60px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  width: 90%;
  color: var(--snow);
  z-index: 2;
}
.slider_btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--snow);
  color: var(--bg-second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
}
.slider_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.slider_btn:hover {
  color: var(--snow);
}
.slider_btn:hover::before {
  transform: scale(1);
}
/* slider1 */
.sliders {
  background-color: var(--bg-second-color);
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.slider {
  height: 100%;
  width: 100%;
  position: relative;
}
.sliders_learn {
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: var(--bg-color);
  padding-inline: 30px;
  padding-block: 20px;
  color: var(--snow);
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
}
.sliders_learn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--snow);
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.sliders_learn:hover::before {
  height: 100%;
}
.sliders_learn:hover p {
  color: var(--bg-second-color);
}
.slider_learn--icon {
  background-color: var(--snow);
  color: var(--bg-color);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.sliders_learn:hover > .slider_learn--icon {
  color: var(--snow);
}
.slider_learn--icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-color: var(--bg-second-color);
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.sliders_learn:hover .slider_learn--icon::after {
  transform: scale(1);
}
.slider_img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.slider_text {
  width: 500px;
  position: absolute;
  top: 300px;
  right: 70px;
  color: var(--snow);
  z-index: 2;
}
.slider_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 500px;
  right: 70px;
  z-index: 2;
}
.slider_btn-next {
  transform: rotate(180deg);
}
.slider_description {
  position: absolute;
  top: 120px;
  left: 180px;
  z-index: 2;
  font-size: 80px;
  color: var(--snow);
  width: 800px;
}
/* slider2 */
.slidersTwo {
  background-color: var(--bg-second-color);
  width: 90%;
  max-width: 1200px;
  height: 600px;
  position: relative;
  overflow: hidden;
  transform: translateX(-150px) translateY(-400px);
  margin-bottom: -300px;
}
.slidersTwo > .slider_title {
  top: 20px;
}
.sliderTwo {
  height: 100%;
  width: 100%;
  position: relative;
}
.slider__imgTwo {
  width: 500px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.slider_textTwo {
  width: 500px;
  position: absolute;
  bottom: 100px;
  right: 430px;
  color: var(--snow);
  z-index: 2;
  font-size: 30px;
}
.slider-detail {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 60px;
  left: 20px;
  color: var(--snow);
  width: 50%;
}
.slider-detail_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.slider-detail_btn {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--snow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-second-color);
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.slider-detail_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.slider-detail_btn:hover {
  color: var(--snow);
}
.slider-detail_btn:hover::before {
  transform: scale(1);
}
.slider_items {
  position: absolute;
  top: 360px;
  left: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider_btn-next-two {
  position: absolute;
  top: -30px;
  right: -20px;
}
.slider-prograsbar_img {
  width: 100px;
  object-fit: cover;
  transition: all 0.6s;
  cursor: pointer;
}
.slider-task {
  position: absolute;
  bottom: 60px;
  right: 80px;
  color: var(--text-color);
}
.slider_prograsbar {
  width: 100px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border-radius: 2px;
  --after-width: 0%;
  bottom: 0;
  left: 0;
}
.slider_prograsbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--after-width);
  background-color: var(--snow);
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow: hidden;
  z-index: 50;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;
}
.modal-overlay::-webkit-scrollbar {
  display: none;
}

.modal-close {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--bg-second-color);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--snow);
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal-close.active {
  opacity: 1;
  visibility: visible;
}

.modal-close:hover {
  color: var(--bg-second-color);
}
.modal-close::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: var(--snow);
  transition: 0.4s;
  z-index: -1;
}
.modal-close:hover::before {
  height: 100%;
}

.modal-img {
  position: fixed;
  bottom: 0;
  right: 0px;
  width: 550px;
  pointer-events: none;
  z-index: 900;
  /* Control visibility with JavaScript active class for desktop */
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.4s, visibility 0.4s;
}
.modal-img.active {
  opacity: 1;
  visibility: visible;
}

/* New styles for the mobile image */
.modal-img-mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 450px; /* Adjust height as needed for mobile */
  z-index: 1;
  pointer-events: none;
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Hidden by default */
  transition: opacity 0.4s, visibility 0.4s;
}
.modal-img-mobile.active {
    opacity: 1;
    visibility: visible;
}


.modal-detail {
  position: absolute;
  overflow-y: visible;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 60px;
  padding-bottom: 50px;
  z-index: 200;
}
.modal-detail::-webkit-scrollbar {
  display: none;
}

.modal-detail {
  top: 50px;
  left: 150px;
  width: 500px;
}

.modal-task {
  color: var(--text-color);
  font-size: 20px;
}
.modal-detail_text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid var(--border-color);
  padding: 40px 0;
}
.modal-detail_text--two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal-detail_text span {
  color: var(--snow);
  font-size: 20px;
  width: 500px;
}
.modal-detail_title {
  color: var(--snow);
}
.modal-detail_blockquote {
  width: 40px;
}
.modal-detail_description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--border-color);
  width: 500px;
  font-size: 16px;
}
/* company-drilling  */
.company-drilling {
  width: 100%;
  height: 1200px;
  transition: all 0.4s;
  background-color: var(--snow);
  display: flex;
  flex-direction: column;
  padding: 200px 80px;
  position: relative;
  margin-bottom: -200px;
}
.company-drilling__title {
  color: var(--bg-second-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.company-drilling__text {
  color: var(--bg-second-color);
  font-size: 200px;
  z-index: 2;
  position: absolute;
  top: 220px;
  left: 20%;
}
.company-drilling_img {
  width: 500px;
  position: absolute;
  top: 50px;
  left: 35%;
  z-index: 1;
  transform: perspective(1000px);
  transform-style: preserve-3d;
}
.company-drilling_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transform: translateY(300px);
}
.company-drilling_detail--item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
.company-drilling_detail--item span {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.company-drilling_detail--item p {
  font-size: 60px;
  color: var(--bg-color);
}
/* company-pressCenter */
.company-PressCenter {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px 80px;
  position: relative;
  overflow: hidden;
}
.company-PressCenter_title {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  color: var(--bg-color);
}
.company-pressCenter_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-pressCenter_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.company-pressCenter_btn--style {
  border: 1px solid var(--border-color);
  width: 130px;
  padding: 15px;
  border-radius: 60px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  color: var(--bg-color);
}
.company-pressCenter_btn--style:hover {
  border: 1px solid var(--bg-color);
}
.company-pressCenter_btn--style.active {
  color: var(--snow);
  border: none;
  background-color: var(--bg-color);
  transition: 1s;
}
.company-pressCenter_slider--btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.company-pressCenter_slider--btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--border-second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  pointer-events: none;
}
.company-pressCenter_slider--btn.active {
  background-color: var(--bg-color);
  color: var(--snow);
  cursor: pointer;
  position: relative;
  z-index: 1;
  pointer-events: all;
  transition: 0.4s;
}
.company-pressCenter_slider--btn.active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--bg-second-color);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: 0.4s;
  transform: scale(0);
  z-index: -1;
}
.company-pressCenter_slider--btn.active:hover::before {
  transform: scale(1);
}
.company-pressCenter_slider--prevBtn {
  transform: rotate(180deg);
}
.company-pressCenter_detail {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 300px;
  right: 80px;
}
.company-pressCenter_detail--items {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--border-second-color);
  height: 450px;
  padding: 30px 40px;
  cursor: pointer;
  position: relative;
}
.company-pressCenter_detail--itemsText {
  height: 80%;
  z-index: -2;
}
.company-pressCenter_detail--itemsTextHover {
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: 1s;
  transform: translateY(-200px);
  color: var(--snow);
}
.company-pressCenter_detail--items:hover
  .company-pressCenter_detail--itemsTextHover {
  opacity: 1;
  visibility: visible;
}
.company-pressCenter_detail--itemsSpan {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 10px 0;
  height: 20%;
  z-index: 1;
  border-top: 1px solid var(--border-color);
}
.company-pressCenter_detail--itemsSpan p {
  color: var(--bg-color);
  transition: 0.4s;
}
.company-pressCenter_detail--itemsSpan span {
  font-size: 60px;
  color: var(--bg-second-color);
  height: 70px;
  transition: 0.4s;
}
.company-pressCenter_detail--items:hover
  > .company-pressCenter_detail--itemsSpan
  p,
.company-pressCenter_detail--items:hover
  > .company-pressCenter_detail--itemsSpan
  span {
  color: var(--snow);
}
.company-pressCenter_detail--itemsImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: 0.6s;
}
.company-pressCenter_detail--items:hover
  > .company-pressCenter_detail--itemsImg {
  height: 100%;
}
.company-pressCenter_detail--items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #00000060;
  z-index: -1;
  transition: 0.6s;
}
.company-pressCenter_detail--items:hover::after {
  height: 100%;
}
#media,
#Events {
  display: none;
}
#news,
#media,
#Events {
  transition: 1s;
}
/* company-partners */
.company-partners {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-top: 50px;
}
.company-partners_items {
  width: 20%;
  height: 100%;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-second-color);
}
.company-partners_items--title {
  display: none;
}
/* footer  */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 60px;
  width: 100%;
  background-color: var(--snow);
}
.footer__detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__detail-one {
  border-bottom: 1px solid var(--border-color);
  height: 300px;
}
.footer__detail-second {
  padding-top: 40px;
  align-items: end;
}
.footer__detail-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__detail-contact p {
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}
.footer__detail-contact p:hover {
  color: var(--bg-second-color);
}
.footer__detail-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__detail-icon {
  background-color: var(--bg-color);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 2px;
  color: snow;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__detail-icon:hover {
  background-color: var(--bg-second-color);
}
.icons {
  width: 15px;
  height: 15px;
}
.footer__detail-list a li {
  color: var(--bg-color);
  transition: all 0.3s;
}
.footer__detail-list a li:hover {
  color: var(--bg-second-color);
}
.footer__detail-button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: var(--border-second-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  position: relative;
  cursor: pointer;
}
.footer__detail-button:hover {
  color: snow;
}
.footer__detail-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.footer__detail-button:hover::before {
  transform: scale(1);
}
.footer__detail-buttonSm {
  display: none;
}
.footer__detail-title {
  color: var(--text-color);
  transition: all 0.3s;
}
.footer__detail-titleSm {
  display: none;
}
.footer__detail-tag:hover {
  color: var(--bg-color);
}
@media screen and (max-width: 640px) {
  header {
    padding-block: 20px;
    padding-inline: 30px;
  }
  .header__detail {
    border-bottom: 1px solid var(--border-second-color);
    height: 50px;
    padding-bottom: 20px;
  }
  .naftagaz-img {
    width: 70px;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu__btn {
    background-color: var(--bg-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    z-index: 20;
  }
  .hamburger-menu__icon {
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 8px;
    background-color: var(--snow);
  }
  .hamburger-menu__detail {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #394854;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto;
  }
  .hamburger-menu__detailActive {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    border-radius: 0;
  }
  .hamburger-menu__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .hamburger-menu__btnClose {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: var(--snow);
    background-color: var(--bg-color);
    border-radius: 100%;
  }
  .hamburger-menu__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .hamburger-menu__list a {
    color: var(--snow);
    font-size: 20px;
  }
  .hamburger-menu__listStyle {
    border-bottom: 1px solid var(--border-second-color);
    height: 40px;
  }
  .menuSm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
    transition: all 0.2s;
    position: relative;
  }
  .menuSmActive {
    overflow: visible;
    height: 120px;
  }
  .menuSm__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-second-color);
    height: 40px;
  }
  .menuSm__iconActive {
    border-bottom: 1px solid var(--snow);
  }
  .menuSm__iconStyle {
    transition: all 0.3s;
  }
  .menuSm__icon-styleActive {
    transform: rotate(180deg);
  }
  .mega-menuSm {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50px;
  }
  .mega-menuSm span {
    border-bottom: 1px solid var(--border-second-color);
    height: 40px;
  }
  .hamburger-menu__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .hamburger-menu__title a {
    color: var(--snow);
  }
  .header__detail-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: auto;
    padding-block: 10px;
    padding-inline: 15px;
    border: 1px solid var(--border-second-color);
    border-radius: 30px;
    color: var(--snow);
    cursor: pointer;
    transition: all 0.4s;
    font-size: 12px;
  }
  .header__contact {
    position: absolute;
    background-color: var(--snow);
    top: -500px;
    left: 5%;
    height: 490px;
    width: 90%;
    max-width: 400px;
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index: 1001;
    visibility: hidden;
  }
  .header__contact a {
    font-size: 24px;
    color: var(--bg-second-color);
    height: auto;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
  }
  .header__contactActive {
    top: -450px;
    opacity: 1;
    visibility: visible;
  }
  .header__contact::before {
    content: "";
    position: absolute;
    top: 483px;
    right: 50px;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--snow);
    width: 15px;
    height: 15px;
    display: block;
  }
  .header__contact-text {
    font-size: 12px;
  }
  .header__contact-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
  }
  .header__detail-items {
    display: none;
  }
  .header__lists {
    display: none;
  }
  /* company_detail */
  .company-detail {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
    padding: 0 30px;
    height: 100%;
  }
  .company-detail h1 {
    font-size: 60px;
  }
  .company-detail_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .company-detail_item {
    display: none;
  }
  .company-detail_btn {
    position: relative;
  }
  .company-detail_man {
    width: 300px;
    position: absolute;
    bottom: -10px;
    left: 10px;
    transform-style: preserve-3d;
    will-change: transform;
    transform-origin: center center;
  }
  .company-detail_background {
    background-image: url("../img/intro-background-lg-min.jpg");
    background-size: cover;
    background-position: -700px;
    background-repeat: no-repeat;
    transform-origin: center center;
    transform-style: preserve-3d;
    will-change: transform;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
  }
  /* company-location */
  .company-location {
    width: 100%;
    height: 1400px;
    background-color: var(--color);
    transform: translateY(34px);
    position: relative;
    overflow: hidden;
  }
  .company-location_title {
    left: 20px;
  }
  .company-location_map {
    top: 400px;
    right: -100px;
    z-index: 1;
    width: 550px;
  }
  .company-location_circle {
    top: 400px;
    right: -40px;
    width: 450px;
    z-index: 10;
    transform: rotate(90deg);
  }
  .circle_two {
    transform: translateY(200px) translateX(300px);
  }
  .circle_two-dot {
    transform: translateY(200px) translateX(300px);
  }
  .circle_two-line {
    transform: translateY(200px) translateX(300px);
  }
  .company-location_text-sm {
    color: var(--snow);
    position: absolute;
    top: 750px;
    right: 30px;
    font-size: 10px;
    width: 150px;
    opacity: 1;
    visibility: visible;
  }
  .company-location_text {
    top: 500px;
    z-index: 2;
    left: 80px;
  }
  .company-location_text p:last-child {
    color: var(--text-color);
  }
  .company-location_img {
    display: none;
  }
  .company-location_btns {
    left: 50px;
    top: 950px;
  }
  .company-location_detail {
    position: absolute;
    top: 100px;
    left: 0px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
  }
  .company-location_detail span {
    font-size: 50px;
    color: var(--bg-second-color);
  }
  .company-location_detail > p {
    width: 100%;
    padding: 10px 20px;
  }
  .company-location_detail--text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 0 20px;
  }
  .company-location_detail--text p {
    color: var(--snow);
  }
  /* slider */
  .sliders {
    width: 100%;
    height: 800px;
    transform: translateY(0px);
  }
  .slider {
    width: 100%;
    height: 50%;
  }
  .slider_img {
    width: min(500px, 100%);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  .slider_text {
    width: calc(100% - 60px);
    top: 57%;
    right: 40px;
    left: 20px;
    transform: translateY(-50%);
    font-size: 14px;
    text-align: right;
  }
  .slider_title {
    top: 40px;
    left: 20px;
    width: calc(100% - 40px);
    text-align: center;
  }
  .slider_btns {
    gap: 10px;
    bottom: 440px;
    right: 20%;
    transform: translateX(50%);
  }
  .slider_btn {
    width: 30px;
    height: 30px;
  }
  .slider_description {
    font-size: 20px;
    left: 120px;
    top: 400px;
    width: 200px;
  }
  .sliders_learn {
    position: absolute;
    bottom: 10px;
    left: 100px;
  }
  /* slider2 */
  .slidersTwo {
    width: 100%;
    transform: translateX(0px) translateY(-400px);
    margin-top: 100px;
  }
  .slider__imgTwo {
    width: 400px;
    height: 50%;
  }
  .slider_textTwo {
    width: 500px;
    bottom: 250px;
    right: 120px;
    color: var(--snow);
    z-index: 10;
    font-size: 20px;
  }
  .slider-detail {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 320px;
    left: 150px;
    color: var(--snow);
    width: 50%;
  }
  .slider-detail_text {
    font-size: 12px;
    width: 300px;
  }
  .slider-detail_btns {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .slider-detail_btn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--snow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-second-color);
    cursor: pointer;
    z-index: 1;
    position: relative;
  }
  .slider_items {
    top: 180px;
    left: 250px;
  }
  .slider_btn-next-two {
    top: -20px;
    right: 60px;
  }
  .slider-prograsbar_img {
    width: 80px;
  }
  .slider-task {
    bottom: 310px;
    right: 230px;
  }
  .slider_prograsbar {
    width: 80px;
  }
  /* modal */
    .modal-img {
    opacity: 0; /* Hide desktop image on mobile */
    visibility: hidden;
  }

  .modal-img-mobile {
    opacity: 1; /* Show mobile image on mobile */
    visibility: visible;
  }

  .modal-detail_text{
    width: 300px;
  }
  .modal-detail {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 450px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    font-size: 20px;
    gap: 10px;
    z-index: 2;
  }
  .modal-task {
    color: var(--text-color);
    font-size: 20px;
  }
  .modal-detail_text span {
    font-size: 16px;
    width: 300px;
  }
  .modal-detail_description {
    gap: 30px;
    width: 300px;
    font-size: 15px;
  }
  /* company-drilling  */
  .company-drilling {
    background-color: var(--snow);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
    position: relative;
    height: 500px;
    margin-bottom: 250px;
  }
  .company-drilling__text {
    color: var(--bg-second-color);
    font-size: 80px;
    z-index: 2;
    top: 50%;
    left: 4%;
  }
  .company-drilling_img {
    width: 300px;
    position: absolute;
    top: 100px;
    left: 15%;
    z-index: 1;
  }
  .company-drilling_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateY(500px);
  }
  .company-drilling_detail--item span {
    font-size: 10px;
    width: 150px;
  }
  .company-drilling_detail--item p {
    font-size: 20px;
  }
  /* company-pressCenter */
  .company-PressCenter {
    padding: 100px 20px;
  }
  .company-pressCenter_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .company-pressCenter_btn {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .company-pressCenter_btn--style {
    width: 100px;
    font-size: 12px;
  }
  .company-pressCenter_slider--btns {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .company-pressCenter_detail {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 350px;
    right: 40px;
  }
  .company-pressCenter_detail--items {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--border-second-color);
    height: 450px;
    padding: 30px 40px;
    cursor: pointer;
    position: relative;
  }
  /* company-partners */
  .company-partners {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    height: 250px;
    flex-wrap: wrap;
  }
  .company-partners_items {
    width: 50%;
    height: 200px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-second-color);
  }
  .company-partners_items--title {
    display: block;
    background-color: var(--bg-color);
    color: var(--snow);
  }
  /* footer */
  footer {
    padding: 20px;
    margin-top: 350px;
  }
  .footer__detail-one {
    flex-direction: column;
    /* gap: 40px; */
    justify-content: space-around;
    height: 420px;
  }
  .footer__detail-contact {
    gap: 20px;
  }
  .footer__detail-button {
    display: none;
  }
  .footer__detail-buttonSm {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--border-second-color);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    position: relative;
  }
  .footer__detail-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    height: 60px;
    align-items: start;
  }
  .footer__detail-title {
    font-size: 12px;
  }
  .footer__detail-titleSm {
    display: block;
    color: var(--text-color);
  }
  .footer__detail-titleLast {
    display: none;
  }
}
