* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: dana;
  src: url(../font/Dana/woff2/DanaFaNum-DemiBold.woff2);
}
:root {
  --border-color: #c6c6c6;
  --border-second-color: rgba(209, 209, 209, 0.329);
  --bg-color: #2b3944;
  --bg-second-color: #ab052d;
  --text-color: #6b7280;
  --snow: #ffffff;
  --black: #000000;
  --color: #394854;
}
body {
  font-family: dana;
  overflow-x: hidden;
}
/* scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
/* icons */
.svgs {
  display: none;
}
.icons {
  width: 18px;
  height: 18px;
}
.naftagaz__items {
  display: flex;
  flex-direction: column;
  height: 2700px;
  background-color: var(--color);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-block: 30px;
  padding-inline: 60px;
  position: fixed;
  transition: top 0.4s, background-color 0.4s, box-shadow 0.4s;
  top: 0;
  z-index: 1000;
}
header.has-background {
  background-color: var(--bg-color);
}
header.show-header {
  top: 0;
}
header.hide-header {
  top: -200px;
}
.header__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.naftagaz-img {
  width: 100px;
}
.hamburger-menu {
  display: none;
}
.header__detail-items {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}
.header__detail-items a {
  color: var(--snow);
}
.header__detail-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 8px;
  padding-inline: 15px;
  border: 1px solid var(--border-second-color);
  border-radius: 30px;
  color: var(--snow);
  cursor: pointer;
  transition: all 0.4s;
  font-size: 12px;
}
.header__detail-btnsActive {
  background-color: var(--bg-color);
  border: none;
}
.header__detail-hoverable:hover {
  border: 1px solid var(--snow);
}
.header__detail-icon {
  transition: 0.4s;
}
.header__detail-iconActive {
  transform: rotate(180deg);
}
.header__contact {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--snow);
  color: var(--black);
  width: 1250px;
  padding-inline: 60px;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 0.4s;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}
.header__contactActive {
  top: 60px;
  opacity: 1;
  visibility: visible;
}
.header__contact::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 60px;
  transform: rotate(45deg);
  background-color: var(--snow);
  width: 15px;
  height: 15px;
  display: block;
}
.header__contact a {
  color: var(--bg-second-color);
  font-size: 60px;
  transition: all 0.4s;
  border-bottom: 1px solid var(--border-color);
  height: 100px;
}
.header__contact a:hover {
  color: var(--bg-color);
}
.header__contact-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}
.dots {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: var(--text-color);
  display: block;
}
.header__contact-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contact-btn {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: var(--bg-color);
  padding-inline: 30px;
  padding-block: 20px;
  color: var(--snow);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
}
.header__contact-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--bg-second-color);
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.header__contact-btn:hover::before {
  height: 100%;
}
.header__contact-icon {
  background-color: var(--snow);
  color: var(--black);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 2px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.header__contact-icon:hover {
  color: var(--snow);
}
.header__contact-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-color: var(--bg-color);
  color: black;
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.header__contact-icon:hover::after {
  transform: scale(1);
}
.header__lists {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__lists a {
  width: 172px;
  height: 40px;
  line-height: 40px;
  color: var(--snow);
  border-top: 1px solid var(--border-second-color);
  position: relative;
}
.header__lists a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--snow);
  transition: all 0.4s;
}
.header__lists a:hover::before {
  width: 100%;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu:hover .mega-menus {
  opacity: 1;
  visibility: visible;
}
.mega-menus {
  position: absolute;
  top: 0;
  padding-block: 60px;
  width: 180px;
  height: 270px;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
}
.mega-menu {
  width: 600px;
  height: 250px;
  background-color: var(--snow);
  display: flex;
  align-items: center;
  position: relative;
}
.mega-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid var(--snow);
  top: -11px;
  transform: rotate(30deg);
  right: -5px;
}
.mega-menu__items {
  color: black;
  border-left: 1px solid var(--border-color);
  padding: 30px;
  background-color: var(--snow);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mega-menu__items:last-child {
  border-left: none;
}
.mega-menu__icon {
  background-color: var(--bg-second-color);
  color: var(--snow);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding: 6px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mega-menu__icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-color: var(--bg-color);
  transition: all 0.3s;
  transform: scale(0);
  z-index: -1;
}
.mega-menu__items:hover .mega-menu__icon::before {
  transform: scale(1);
}
.mega-menu__item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 90%;
}
.mega-menu__img {
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.mega-menu__items:hover .mega-menu__img {
  opacity: 1;
  visibility: visible;
}
/* Drilling */
.company-drilling {
  width: 100%;
  height: 400px;
  margin-top: 300px;
  position: relative;
  background-color: #ab052d;
}
.company-drilling h1 {
  position: absolute;
  top: -120px;
  font-size: 160px;
  right: 100px;
  z-index: 1;
  color: var(--snow);
}
.company-drilling_img {
  width: 80%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.company-drilling_icon--btn {
  background-color: var(--snow);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: var(--bg-color);
  position: absolute;
  bottom: 80px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
.company-drilling_icon--btn:hover {
  color: var(--snow);
}
.company-drilling_icon--btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transform: scale(0);
  transition: 0.4s;
  z-index: -1;
}
.company-drilling_icon--btn:hover::before {
  transform: scale(1);
}
.company-drilling_spans {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 170px 0px;
  border-color: transparent transparent var(--bg-second-color) transparent;
}
.company-drilling_span--one {
  bottom: 0;
  left: 400px;
}
.company-drilling_span--two {
  top: 0;
  transform: rotate(180deg);
  left: 400px;
}
.company-drilling_span--three {
  bottom: 120px;
  left: 650px;
  transform: rotate(90deg);
}
.company-drilling_span--four {
  bottom: 120px;
  left: 850px;
  transform: rotate(269deg);
}
/* company-drilling_description */
.company-drilling_description {
  position: relative;
  width: 100%;
  height: 500px;
}
.company-drilling_description h2 {
  width: 500px;
  top: 100px;
  left: 200px;
  color: var(--snow);
  position: absolute;
}
.company-drilling_description p {
  color: var(--border-color);
  width: 400px;
  bottom: 100px;
  right: 250px;
  position: absolute;
}
/* company-drilling_services */
.company-drilling_services {
  width: 100%;
  position: relative;
}
.company-drilling_services--imgs {
  position: absolute;
  top: 100px;
  left: 100px;
}
.company-drilling_services--detail {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.company-drilling_services--items {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.company-drilling_services--item {
  width: 35%;
  height: 100%;
  background-color: var(--bg-color);
  position: relative;
}
.company-drilling_services--icons {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: var(--snow);
  background-color: var(--bg-second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.company-drilling_services--img {
  width: 180px;
  position: absolute;
  top: 150px;
  right: 140px;
  z-index: 0;
}
.company-drilling_services--text {
  position: absolute;
  color: var(--snow);
  bottom: 50px;
  left: 50px;
  width: 120px;
  z-index: 2;
}
.company-drilling_services--textHover {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  color: var(--text-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  z-index: 1;
}
.company-drilling_services--item:hover > .company-drilling_services--textHover {
  opacity: 1;
  visibility: visible;
}
.company-drilling_services--item:hover > .company-drilling_services--text {
  color: var(--bg-color);
}
.company-drilling_services--item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--snow);
  transition: 0.6s;
  z-index: 1;
}
.company-drilling_services--item:hover::before {
  height: 100%;
}
/* company-drilling_link */
.company-drilling_link {
  width: 100%;
  height: 600px;
  position: relative;
}
.company-drilling_link--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.company-drilling_link--imgSm{
  display: none;
}
.company-drilling_link--text {
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 100px;
  color: var(--snow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.company-drilling_link--icon {
  transform: rotate(180deg);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: var(--bg-color);
  color: var(--snow);
  position: absolute;
  top: 230px;
  right: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.company-drilling_link--icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--snow);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: 0.4s;
  transform: scale(0);
  z-index: -1;
}
.company-drilling_link--text:hover ~ .company-drilling_link--icon {
  color: var(--bg-second-color);
}
.company-drilling_link--text:hover ~ .company-drilling_link--icon::before {
  transform: scale(1);
}
.company-drilling_link--icon:hover {
  color: var(--bg-second-color);
}
.company-drilling_link--icon:hover::before {
  transform: scale(1);
}
/* footer  */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 60px;
  width: 100%;
  background-color: var(--snow);
}
.footer__detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__detail-one {
  border-bottom: 1px solid var(--border-color);
  height: 300px;
}
.footer__detail-second {
  padding-top: 40px;
  align-items: end;
}
.footer__detail-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__detail-contact p {
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}
.footer__detail-contact p:hover {
  color: var(--bg-second-color);
}
.footer__detail-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__detail-icon {
  background-color: var(--bg-color);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 2px;
  color: snow;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__detail-icon:hover {
  background-color: var(--bg-second-color);
}
.footer__detail-list a li {
  color: var(--bg-color);
  transition: all 0.3s;
}
.footer__detail-list a li:hover {
  color: var(--bg-second-color);
}
.footer__detail-button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: var(--border-second-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  position: relative;
  cursor: pointer;
}
.footer__detail-button:hover {
  color: snow;
}
.footer__detail-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transform: scale(0);
  transition: all 0.3s;
}
.footer__detail-button:hover::before {
  transform: scale(1);
}
.footer__detail-buttonSm {
  display: none;
}
.footer__detail-title {
  color: var(--text-color);
  transition: all 0.3s;
}
.footer__detail-titleSm {
  display: none;
}
.footer__detail-tag:hover {
  color: var(--bg-color);
}
@media screen and (max-width: 640px) {
  .naftagaz__items {
    height: 1800px;
  }
  header {
    padding-block: 20px;
    padding-inline: 30px;
  }
  .header__detail {
    border-bottom: 1px solid var(--border-second-color);
    height: 50px;
    padding-bottom: 20px;
  }
  .naftagaz-img {
    width: 70px;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu__btn {
    background-color: var(--bg-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    z-index: 20;
  }
  .hamburger-menu__icon {
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 8px;
    background-color: var(--snow);
  }
  .hamburger-menu__detail {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #394854;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto;
  }
  .hamburger-menu__detailActive {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    border-radius: 0;
  }
  .hamburger-menu__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .hamburger-menu__btnClose {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: var(--snow);
    background-color: var(--bg-color);
    border-radius: 100%;
  }
  .hamburger-menu__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .hamburger-menu__list a {
    color: var(--snow);
    font-size: 20px;
  }
  .hamburger-menu__listStyle {
    border-bottom: 1px solid var(--border-second-color);
    height: 40px;
  }
  .menuSm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
    transition: all 0.2s;
    position: relative;
  }
  .menuSmActive {
    overflow: visible;
    height: 120px;
  }
  .menuSm__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-second-color);
    height: 40px;
  }
  .menuSm__iconActive {
    border-bottom: 1px solid var(--snow);
  }
  .menuSm__iconStyle {
    transition: all 0.3s;
  }
  .menuSm__icon-styleActive {
    transform: rotate(180deg);
  }
  .mega-menuSm {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50px;
  }
  .mega-menuSm span {
    border-bottom: 1px solid var(--border-second-color);
    height: 40px;
  }
  .hamburger-menu__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .hamburger-menu__title a {
    color: var(--snow);
  }
  .header__detail-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: auto;
    padding-block: 10px;
    padding-inline: 15px;
    border: 1px solid var(--border-second-color);
    border-radius: 30px;
    color: var(--snow);
    cursor: pointer;
    transition: all 0.4s;
    font-size: 12px;
  }
  .header__contact {
    position: absolute;
    background-color: var(--snow);
    top: -500px;
    left: 5%;
    height: 490px;
    width: 90%;
    max-width: 400px;
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index: 1001;
    visibility: hidden;
  }
  .header__contact a {
    font-size: 24px;
    color: var(--bg-second-color);
    height: auto;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
  }
  .header__contactActive {
    top: -450px;
    opacity: 1;
    visibility: visible;
  }
  .header__contact::before {
    content: "";
    position: absolute;
    top: 483px;
    right: 50px;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--snow);
    width: 15px;
    height: 15px;
    display: block;
  }
  .header__contact-text {
    font-size: 12px;
  }
  .header__contact-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
  }
  .header__detail-items {
    display: none;
  }
  .header__lists {
    display: none;
  }
  /* Drilling */
  .company-drilling {
    width: 100%;
    height: 450px;
  }
  .company-drilling h1 {
    top: -80px;
    font-size: 100px;
    right: 20px;
  }
  .company-drilling_img {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    display: block;
  }
  .company-drilling_icon--btn {
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: 40px;
  }
  .company-drilling_spans {
    border-width: 0 70px 120px 0px;
  }
  .company-drilling_span--one {
    bottom: 0;
    left: 50px;
  }
  .company-drilling_span--two {
    top: 224px;
    left: 50px;
  }
  .company-drilling_span--three {
    bottom: 40px;
    left: 180px;
  }
  .company-drilling_span--four {
    bottom: 40px;
    right: 0;
  }
  /* company-drilling_description */
  .company-drilling_description {
    height: 500px;
  }
  .company-drilling_description h2 {
    width: 330px;
    top: 70px;
    left: 15px;
  }
  .company-drilling_description p {
    width: 330px;
    bottom: 100px;
    right: 15px;
  }
  /* company-drilling_services */
  .company-drilling_services--imgs {
    top: 0px;
    left: 5px;
    width: 350px;
  }
  .company-drilling_services--detail {
    top: 0px;
    width: 100%;
    height: 500px;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    /* white-space: nowrap; */
    -webkit-overflow-scrolling: touch;
  }
  .company-drilling_services--items {
    width: fit-content;
    height: 100%;
    display: inline-flex;
    gap: 20px;
    margin-inline: 20px;
  }
  .company-drilling_services--item {
    width: 300px;
    height: 85%;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: top;
  }
  .company-drilling_services--detail::-webkit-scrollbar {
    height: 8px;
  }
  .company-drilling_services--detail::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 10px;
  }
  .company-drilling_services--detail::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .company-drilling_services--icons {
    width: 40px;
    height: 40px;
    z-index: 0;
  }
  .company-drilling_services--img {
    width: 180px;
    top: 100px;
    right: 55px;
    z-index: 0;
  }
  .company-drilling_services--text {
    position: absolute;
    width: 120px;
    bottom: 50px;
    left: 10px;
    z-index: 2;
    color: var(--snow);
  }
  .company-drilling_services--item:hover > .company-drilling_services--text {
    color: var(--snow);
  }
  .company-drilling_services--textHover {
    display: none;
  }
  .company-drilling_services--item::before {
    display: none;
  }
  /* company-drilling_link */
  .company-drilling_link {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .company-drilling_link--img {
    display: none;
  }
  .company-drilling_link--imgSm{
    display: block;
    width: 100%;
    height: 100%;
  }
  .company-drilling_link--text {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 50%;
    font-size: 50px;
  }
  .company-drilling_link--icon {
    width: 80px;
    height: 80px;
    background-color: var(--bg-second-color);
    color: var(--snow);
    top: 140px;
    right: 140px;
  }
  .company-drilling_link--icon::before {
    display: none;
  }
  .company-drilling_link--text:hover ~ .company-drilling_link--icon {
    color: var(--snow);
  }
  .company-drilling_link--icon:hover {
    color: var(--snow);
  }
  /* footer */
  footer {
    padding: 20px;
  }
  .footer__detail-one {
    flex-direction: column;
    /* gap: 40px; */
    justify-content: space-around;
    height: 420px;
  }
  .footer__detail-contact {
    gap: 20px;
  }
  .footer__detail-button {
    display: none;
  }
  .footer__detail-buttonSm {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--border-second-color);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    position: relative;
  }
  .footer__detail-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    height: 60px;
    align-items: start;
  }
  .footer__detail-title {
    font-size: 12px;
  }
  .footer__detail-titleSm {
    display: block;
    color: var(--text-color);
  }
  .footer__detail-titleLast {
    display: none;
  }
}
